**/.idea/
**/*.iml
**/.gradle/
**/.bsp/
**/.exercism/
**/build/
**/target/
**/test/
**/out/
**/node_modules/
**README.md
**HELP.md
**HINTS.md
**LICENSE
**build.gradle**
**settings.gradle.kts
**build.properties
**build.sbt
**gradle-wrapper*
**gradlew*
**.eslintrc
**.npmrc
**babel.config.js
**spec.js
**package*.json
**_test.rb
**/.ruby-version

